# Hyperparameter Tuning

In [19]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.pipeline import Pipeline
from sklearn.linear_model import LinearRegression, LogisticRegression
from sklearn.neighbors import KNeighborsRegressor, KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier, DecisionTreeRegressor
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import BaggingClassifier, BaggingRegressor, AdaBoostClassifier
from sklearn.ensemble import RandomForestClassifier, RandomForestRegressor, AdaBoostRegressor
from sklearn.svm import SVR,SVC
from sklearn.metrics import mean_squared_error
from sklearn import svm
from sklearn.metrics import confusion_matrix
from sklearn.metrics import f1_score

import warnings
warnings.filterwarnings('ignore')

/anaconda3/lib/python3.6/site-packages/sklearn/ensemble/weight_boosting.py:29: DeprecationWarning: numpy.core.umath_tests is an internal NumPy module and should not be imported. It will be removed in a future NumPy release.
  from numpy.core.umath_tests import inner1d

In [9]:
df = pd.read_csv('../Labs/6.01-lab-supervised_learning_models/401ksubs.csv')

In [10]:
df.head()

,e401k,inc,marr,male,age,fsize,nettfa,p401k,pira,incsq,agesq
0,0,13.170,0,0,40,1,4.575,0,1,173.4489,1600
1,1,61.230,0,1,35,1,154.000,1,0,3749.1130,1225
2,0,12.858,1,0,44,2,0.000,0,0,165.3282,1936
3,0,98.880,1,1,44,2,21.800,0,0,9777.2540,1936
4,0,22.614,0,0,53,1,18.450,0,0,511.3930,2809

**Define X and y**

In [14]:
X = df.drop(columns=['e401k'])
y = df['e401k']

**Pipeline and Gridsearch**

In [22]:
lr = LogisticRegression()

pipe = Pipeline([
    ('lr', lr)
    ])
    
params = {
    'lr__penalty': ['l1', 'l2'],
    'lr__C': [0.5, 1]
}
    
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.25,random_state=42)
gs_lr = GridSearchCV(pipe, param_grid=params, cv=2)
gs_lr.fit(X_train, y_train)
print('train score:', gs_lr.score(X_train, y_train))
print('test score:', gs_lr.score(X_test, y_test))
print('best score:', gs_lr.best_score_)
print('best params:', gs_lr.best_params_)

train score: 0.8834100057504313
test score: 0.8861578266494179
best score: 0.8834100057504313
best params: {'lr__C': 0.5, 'lr__penalty': 'l1'}